<md-content layout="column" layout-align="center center" flex>
  <i class="fa fa-glass fa-5x"></i>
  <h1 class="md-heading">{{note.title}}</h1>
  <small>{{note.user.name}}</small>
  <h2>{{note.content}} <br></h2>
  <h3>{{note.category.name}}</h3>

  <div layout="row" layout-padding>
    <md-button class="md-primary" ng-href="#/notes/{{note.id}}/edit"><i class="fa fa-pencil fa-3x"></i></md-button>
    <md-button class="md-warn" ng-click="deleteNote(note)"><i class="fa fa-trash-o fa-3x"></i></md-button>
  </div>

</md-content>
